* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-cyan {
  background-color: #1e90ff;
  min-height: 50px;
  color: white;
  font-size: 1rem;
  padding-top: 1rem;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.flex {
  display: flex;
}
.align-content {
  align-content: center;
}
.wrap {
  flex-wrap: wrap;
}
.between {
  justify-content: space-between;
}
.justify {
  justify-content: center;
}
.flex-direction {
  flex-direction: column;
}

.align {
  align-items: center;
}

.button {
  padding: 10px;
  margin-top: 20px;
  gap: 15px;
}

.text {
  margin-top: 15px;
}
h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  margin-top: 15px;
}

.card-box {
  min-height: 400px;
  padding: 2rem 0;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}
.bg-blue {
  background-color: #00008b;
  min-height: 50px;
}

.bg-viola {
  background-color: #ee82ee;
  min-height: 50px;
}
.card-box > .container {
  width: 50%;
  min-height: 250px;
}

.bg-white {
  background-color: white;
}
.first-section {
  padding: 20px 0;
}

.big {
  min-height: 350px;
}
.bigger {
  min-height: 550px;
}

.first-block {
  width: 60%;
}

.second-block {
  width: 40%;
}

.bg-azure {
  background-color: #1e90ff;
}

.bg-pink {
  background-color: pink;
}
.bg-grey {
  background-color: #d3d3d3;
}
.bg-green {
  background-color: #228b22;
}
.bg-darkgray {
  background-color: #23272a;
}
.bg-salmon {
  background-color: #f08080;
}
.bg-teal {
  background-color: #20b2aa;
}
.bg-aquamarine {
  background-color: #7fffd4;
}

.col-70 {
  width: 70%;
}

.col-30 {
  width: 30%;
}

.col-25 {
  width: 25%;
}
.footer-top {
  border: 1px solid lightgray;
}

.footer-top,
.footer-bottom {
  padding: 2rem 0;
}
